.backoffice-container {
    max-width: 1200px;
    margin: 0 auto;
}

.user-info {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sign-out-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 15px;
}

.video-upload-section {
    margin-bottom: 20px;
}

.video-upload-input {
    margin-bottom: 10px;
}

.upload-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.video-table {
    width: 100%;
    border-collapse: collapse;
}

.video-table th, .video-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.video-table th {
    background-color: #000000;
}