.text {
    color: white;
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 20px;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
}

img {
    width: 140px;
    height: auto;
    position: absolute;
    top: 70%;
    left: 68%;
    transform: translateY(-50%) rotate(9deg);

}

.titre {
    font-family: "BlowBlush";
    font-size: 32px;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}