#chapter_dj {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#chapter_dj.visible {
    opacity: 1;
}

#dj_set {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 1200px;
    height: 500px;
    background-image: url("/Set_de_DJ_v2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#chapter_dj.visible #dj_set {
    opacity: 1;
}

#button_top_left, #button_bottom_left, #button_top_right, #button_bottom_right {
    display: inline-block;
    position: absolute;
    width: 29px;
    height: 19px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    /* border: 1px solid red; */
}

#button_top_left, #button_bottom_left {
    transform: skew(-23deg);
}

#button_top_right, #button_bottom_right {
    transform: skew(17deg);
}

#button_top_left {
    bottom: 18.1%;
    left: 14.3%;
}

#button_bottom_left {
    bottom: 12%;
    left: 13.3%;
}

#button_top_right {
    bottom: 18.3%;
    right: 25.8%;
}

#button_bottom_right {
    bottom: 12.5%;
    right: 25.1%;
}

#button_top_left:hover, #button_top_right:hover {
    box-shadow: 0px 0px 5px 5px rgb(253, 0, 0);
}

#button_bottom_left:hover, #button_bottom_right:hover {
    box-shadow: 0px 0px 5px 5px rgb(47, 255, 0);
}