.chapter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    float: right;
    padding: 0 50px;
}

.text {
    display: flex;
    justify-content: center;
    width: 100%;
    float: right;
    text-align: center;
    width: 50%;
}

.titre {
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

.images {
    position: relative;
    width: 50%;
    height: auto;
}

.images img {
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-50%) rotate(9deg);
}