#dj_set {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 1200px;
    max-width: 1980px;
    width: 100%;
    height: 500px;

    background-image: url("/Set_de_DJ_NG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#button_top_left, #button_bottom_left, #button_top_right, #button_bottom_right {
    position: absolute;
    width: 2vw;
    height: 1vw;
    /* border: 1px solid red; */
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

#button_top_left {
    bottom: 10.2%;
    left: 11.2%;
}

#button_bottom_left {
    bottom: 6.4%;
    left: 10.4%;
}

#button_top_right {
    bottom: 10.2%;
    right: 32.8%;
}

#button_bottom_right {
    bottom: 6.4%;
    right: 32.2%;
}

#button_top_left:hover, #button_top_right:hover {
    box-shadow: 0px 0px 5px 5px rgb(253, 185, 0);
}

#button_bottom_left:hover, #button_bottom_right:hover {
    box-shadow: 0px 0px 5px 5px rgb(47, 255, 0);
}