.grid2 {
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('/asset_grille.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.grid2 .pic1 {
    position: absolute;
    width: 500px;
    left: -100px;
}

.grid2 .pic2 {
    position: absolute;
    width: 500px;
    left: 100px;
    transform: rotate(-20deg);
}

.clickable_name {
    cursor: pointer;
    text-decoration: underline;
}