.chapter_content {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    float: right;
    position: relative;
}

.text {
    color: white;
    width: 50%;
    padding: 20px;
    margin: 20px;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    border-radius: 10px;
}

.images {
    position: relative;
    width: 50%;
    height: auto;
}

.images img {
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-50%) rotate(9deg);
}

.titre {
    font-size: 32px;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

.pic1 {
    position: relative;
    right: 100px;
    bottom: -200px;
    width: 200px;
    z-index: 2;
    transform: rotate(20deg);
}