/* Video css */
    #div_intro_video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #intro_video {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    #skip_video_button, #sound_video_button {
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    #skip_video_button{
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    #sound_video_button {
        display: flex;
        justify-content: center;
        align-items: center;

        top: 5%;
        right: 5%;
        width: 5vw;
        height: 5vw;
    }

    #sound_video_button button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        border-radius: 50%;
        background-color: #f9f9f9;
    }

    #skip_video_button:hover, #sound_video_button:hover {
        opacity: 1!important;
    }

    #input_volume {
        transform: rotate(-90deg) translateX(-60px);
        height: 5px;
        appearance: none;
        border-radius: 20px;
        border: 1px solid black;
    }

    #input_volume::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-appearance: none;
        background: #ffffff;
    }