.flex {
    display: flex;
}

.m-10 {
    margin: 2.5rem;
}

.h-20 {
    height: 5rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 1;
    margin-left: -15px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    filter: blur(1px);
    padding: 2vw 0;
    text-align: start;
    font-size: 1rem;
    transition: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
}

#sidebar li:hover {
    font-size: 1.5rem;
    filter: blur(0);
    transform: translateX(1rem);
}

#sidebar li a {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-decoration: none;
    color: inherit;
}

.active {
    font-size: 1.5rem!important;
    filter: blur(0)!important;
    transform: translateX(1rem)!important;
}