body {
  flex-flow: column;
  overflow-x: hidden;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.chapter_container {
  width: 100%;
  height: 1000px;
  border: 2px solid red;
}