body {
  flex-flow: column;
  overflow-x: hidden;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.chapter_container {
  width: 100%;
  min-height: 800px;
  background: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}