@font-face {
  font-family: 'BlowBrush';
  src: url('./fonts/BlowBrush/blowbrush.ttf') format('truetype');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./fonts/Coolvetica/coolvetica_rg.otf') format('opentype');
}

body {
  flex-flow: column;
  overflow-x: hidden;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.d-none {
  max-height: 0;
  overflow: hidden;
}

.chapter_container {
  width: 100%;
  min-height: 1000px;
  background: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1, h2, li {
  font-family: 'BlowBrush';
}

p {
  font-family: 'Coolvetica';
  font-size: large;
}

h2 {
  font-size: 3rem!important;
}